@import "./variables.scss";

%button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    min-width: 140px;
    max-width: 220px;
    padding: 0 10px;
    transition: transform 0.2s ease-in-out;

    &:active {
        transform: scale(0.95);
    }
  }

@mixin accent-button($background-color, $background-color-hover, $text-color:$white, $width:100%) {
    @extend %button;

    width: $width;
    background-color: $background-color;
    color: $text-color;
    line-height: 33px;

    &:hover {
        background-color: $background-color-hover;
    }

    
}

@mixin button($border-color, $border-color-hover, $text-color:$white, $width:100%) {
    @extend %button;

    width: $width;
    color: $text-color;
    border: 2px solid $border-color;

    &:hover {
        border-color: $border-color-hover;
    }

    &:active {
        color: $border-color-hover;
    }
}

@mixin link($color:$white, $color-hover:$green) {
    color: $color;
    text-decoration: none;

    &:hover {
        color: $color-hover;
    }

    &:active {
        text-decoration: underline;
    }
}