@import "./variables.scss";

// @keyframes click-button {
//     0% {
//         transform: scale(1);
//     }
//     100% {
//         transform: scale(0.95);
//     }
// }

%button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    min-width: 140px;
    max-width: 220px;
    height: 33px;
    padding: 0 10px;
    // animation: click-button 0.2s ease-in-out;
    // animation-play-state: paused;

    // &:hover {
    //     animation-play-state: running;
    // }
  }

@mixin accent-button($background-color, $background-color-hover, $text-color:$white, $width:100%) {
    @extend %button;

    width: $width;
    background-color: $background-color;
    color: $text-color;

    &:hover {
        background-color: $background-color-hover;
    }

    &:active {
        background-color: darken($color: $background-color, $amount: 20);
    }
}

@mixin button($border-color, $border-color-hover, $text-color:$white, $width:100%) {
    @extend %button;

    width: $width;
    color: $text-color;
    border: 2px solid $border-color;

    &:hover, &:active {
        border-color: $border-color-hover;
    }

    &:active {
        color: $border-color-hover;
    }
}

@mixin link($color:$white, $color-hover:$green) {
    color: $color;
    text-decoration: none;

    &:hover, &:active {
        color: $color-hover;
    }

    &:active {
        text-decoration: underline;
    }
}