@import "./design-tokens/variables.scss";
@import "./generic/normalize.scss";
@import "./design-tokens/elements.scss";
@import "./generic/fonts.scss";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $sub-black;
    height: 100vh;
    font-family: "DMSans-Regular";
    font-size: 16px;
    color: $gray;
    padding: 0 50px;
}

.header {
    display: grid;
    grid-template-columns: minmax(270px, 350px) minmax(auto, 400px);
    grid-column-gap: 13%;
    height: 210px;
    justify-items: center;
    align-items: center;    

    img {
        display: block;
        max-width: 350px;
        width: 100%;
    }

    .application {

        &-name {
            font-size: 55px;
            color: $green;
            margin-bottom: 12px;
        }
    
        .buttons {
            margin-top: 30px;
            display: flex;
            width: 100%;

            & > .button {
                margin-right: 25px;
            }
        }
    }

    

    .link {
        @include link($gray);
        margin-top: 100px;
        grid-area: link;
    }
}

.accent-button {
    @include accent-button($green, $sub-green);
}

.button {
    @include button($gray, $green, $gray, auto);
}

